body {
    background-image: url("/photos/book-pages.jpg");
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}

nav {
    margin-bottom: 1%;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    /* margin: 1%; */
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 2%;
}

#disclaimer {
    padding: 2%;
}

#signUpNew {
    float: right;
}

/*MODAL*/
.modal-content {
    padding: 10px !important;
}

.row {
    margin-bottom: 0px;
}

.input-field>label {
    color: #777;
    font-size: 1.4rem;
}

.input-field {
    margin-bottom: 1rem;
}

.helper-text {
    min-height: 0px;
}

.btn-flat {
    border: 1px #777 solid;
    font-weight: bold;
}
/*request/offer book div card-content */
h6.header {
    font-size: 2.5rem;
}

a.request_book, a.offer_book {
    font-weight: bold;
    font-size: 1.75rem;
}
a.request_book:hover, a.offer_book:hover {
    cursor: pointer;
}



.pac-container {
    z-index: 1051 !important;
}

/*request books at home*/
.card.horizontal .card-image {
    padding: 20px;
}

.delete-book {
    font-weight: bold;
    font-size: 20px;
}